.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "fac";
  src: url(./fonts/Aboreto-Regular.ttf);
}

@font-face {
  font-family: "main";
  src: url(./fonts/Jua-Regular.ttf);
}

@font-face {
  font-family: "main2";
  src: url(./fonts/sernest-display-sernest-400.ttf);
}
