body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'fac';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width:30px;
  height: 15px;
  object-fit: cover;
  overflow: hidden;
  min-height: 4000px;
}


.item {
  position: absolute;
  top: 1600px;
  right: 0;
  opacity: 0.5;
  z-index: 1;
}


.bg {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

